<!doctype html>
<html lang="fr">
<head>
    <title>GEST - FACT | </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" data-skin="default">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <title>Login : Se connecter</title>

    <style>
        header.auth-header {
            background-color: #232754;
        }

        button.submit {
            background-color: #232754;
            color: #FFFFFF;
        }

        button.submit:hover {
            background-color: #232754;
            color: #FFFFFF;
        }
        header,#auth-header
        {
            border-bottom:4px solid #e2e204;
            
        }
    </style>
</head>

<body class="">
<!-- WRAPPER -->

<main class="auth">
    {# <header id="auth-header" class="auth-header">
        <h2>GEST - FACT </h2>
    </header> #}
    <!-- Logo -->
    <div class="logo auth-header" id="auth-header">
        <img src="" alt=""/>
    </div>
    <!-- /Logo -->
    <!-- form -->
    <form class="auth-form" method="post" action="{{ path('app_login') }}">
    
    <legend> CONNEXION</legend>
        {% if error %}
            <div class="alert alert-danger">Nom d'utilisateur ou mode de passe incorrect</div>
        {% endif %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        <div class="form-group mb-4">
            <label class="d-block text-left" for="inputEamil">Nom d'utilisateur </label>
            <input type="text" id="inputEmail"
                   name="nomUtilisateur"
                   value="{{ last_username }}"
                   class="form-control"
                   required="" autofocus=""
                   placeholder="Nom d'utilisateur">
        </div>
        <!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group mb-4">
            <label class="d-block text-left" for="inputPassword">Mot de passe</label>
            <input type="password" id="inputPassword" name="password" autocomplete="current-password"
                   class="form-control" required="" placeholder"">
        </div>
        <!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group mb-4">
            <button class="btn btn-lg btn-block submit" type="submit">s'identifier</button>
        </div><!-- /.form-group -->
        <!-- .form-group -->
        {# <div class="form-group text-center">
            <div class="custom-control custom-control-inline custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="remember-me" name="_remember_me"> <label
                        class="custom-control-label small" for="remember-me">Se souvenir de moi</label>
            </div> 
        </div> #}
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <!-- /.form-group -->
        <!-- recovery links -->
        {#
            <p class="py-2 text-center">
            <a href="{{ path('app_reset_password') }}" class="small">Mot de passe oublié ?</a>
            </p><!-- /recovery links -->
        #}

        <!-- copyright -->
        <p class="mb-0 px-3 text-muted text-center"> Copyright © {{ 'now'| date('Y') }} Design by
            <a href="https://www.offset-consulting.com/" target="_blank"> Offset Consulting.</a><br>
            All right reserved.
        </p>
        </p>
    </form>
    <!-- /.auth-form -->
    <!-- .auth-announcement -->
    {#
        <div id="announcement" class="auth-announcement"
           style="background-image: url({{ asset('img/logo.jpeg') }});">
           <div class="announcement-body">
           </div>
        </div>
    #}

    <!-- /.auth-announcement -->
</main>
<!-- END WRAPPER -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>


</body>
</html>
