{% extends 'base.html.twig' %}

{% block title %}Acceuil | !{% endblock %}

{% block stylesheets %}

    {# <link rel="stylesheet" href="{{ asset('css/style.css') }}"> #}
{% endblock %}

{% block body %}


    <div class="page-content">

        <div class="analytics">

        {% if is_granted('ROLE_ADMIN')  %}
            <div class="card">
                <div class="card-head">
                    <h2> Nombre client</h2>
                  <span class="menu-icon fa fa-solid fa-users"></span>
                </div>
                <div class="card-progress">
                    <small><a href="">{{ nombreClients }}</a></small>
                    <div class="card-indicator">
                        <div class="indicator one" style="width:{{ nombreClients }}%"></div>
                    </div>
                </div>
            </div>

        {% endif %}


           {% if is_granted('ROLE_FACTURE') or is_granted('ROLE_VALIDED_FACTURE') %}
                    <div class="card">
                        <div class="card-head">
                            <h2> Total Facture </h2>
                            <span class="fa fa-file-invoice-dollar"></span>
                        </div>
                        <div class="card-progress">
                            <small><a href=""> {{ nombreDeFactures | number_format(0, ',', ' ') }}</a></small>
                            <div class="card-indicator">
                                <div class="indicator two" style="width: {{ nombreDeFactures }}%"></div>
                            </div>

                        </div>
                    </div>


                     <div class="card">
                            <div class="card-head">
                                <h2> Montant Facture</h2>
                                <span class="fa fa-dollar"></span>
                            </div>
                            <div class="card-progress">
                                <small> <a href="">{{ montantTotalFactures| number_format(0, ',', ' ') }} </a></small>
                                <div class="card-indicator">
                                    <div class="indicator two" style="width:{{ montantTotalFactures }}%"></div>
                                </div>
                            </div>
                    </div>

                     <div class="card">
                        <div class="card-head">
                            <h2> Total Facture Encaissées </h2>
                            <span class="fa fa-file-invoice-dollar"></span>
                        </div>
                        <div class="card-progress">
                            <small><a href="">{{ nombreFacturesEncaissees | number_format(0, ',', ' ')}} </a></small>
                            <div class="card-indicator">
                                <div class="indicator two" style="width: {{ nombreFacturesEncaissees }}%"></div>
                            </div>

                        </div>
                     </div>


                     <div class="card">
                        <div class="card-head">
                            <h2> Montant Facture Encaissées </h2>
                            <span class="fa fa-dollar"></span>
                        </div>
                        <div class="card-progress">
                            <small><a href=""> {{ montantFacturesPartielleEtSoldee | number_format(0, ',', ' ') }} </a></small>
                            <div class="card-indicator">
                                <div class="indicator two" style="width: {{ montantFacturesPartielleEtSoldee }}%"></div>
                            </div>

                        </div>
                     </div>

           {% endif %}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}

            <div class="card">
                <div class="card-head">
                    <h2> Nombre de Produit </h2>
                    <span class="fa fa-life-ring"></span>
                </div>
                <div class="card-progress">
                    <small> <a href=""> {{ nombreProduits  }}</a></small>
                    <div class="card-indicator">
                        <div class="indicator two" style="width: {{ nombreProduits }}%"></div>
                    </div>
                </div>
            </div>
        {% endif %}

         {% if is_granted('ROLE_ADMIN')  %}

            <div class="card">
                <div class="card-head">
                    <h2>Utilisateur</h2>
                      <span class="menu-icon fa fa-solid fa-users"></span>
                </div>
                <div class="card-progress">
                    <small> <a href="">{{ nomUsers }}</a></small>
                    <div class="card-indicator">
                        <div class="indicator two" style="width: {{ nomUsers }}%"></div>
                    </div>
                </div>
            </div>
         {% endif %}

          {% if is_granted('ROLE_SUPER_ADMIN') %}
               <div class="card">
                    <div class="card-head">
                        <h2> admininistrateur</h2>
                        <span class="fa fa-user-alt"></span>
                    </div>
                    <div class="card-progress">
                        <small> <a href="">{{ nomUsersAdmin }}</a></small>
                        <div class="card-indicator">
                            <div class="indicator two" style="width: {{ (nomUsersAdmin / nomUsers * 100)|round(2) }}%"></div>
                        </div>
                    </div>
                </div>

            {% endif %}


   </div>

    {% if is_granted('ROLE_FACTURE') or is_granted('ROLE_VALIDED_FACTURE') %}

        <div class="chart">
            <div id="chart1">
                <canvas id="myChart"></canvas>
            </div>
            <div id="chart1">
                <canvas id="myChart2"></canvas>
            </div>
        </div>

    {% endif %}




        {% endblock %}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Données de factures par mois
            const facturesParMois = {{ facturesParMois|json_encode|raw }};
            const mois = Object.keys(facturesParMois);
            const dataFactures = Object.values(facturesParMois);

            // Premier graphique (Bar Chart)
            const ctx1 = document.getElementById('myChart').getContext('2d');
            new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: mois,
                    datasets: [{
                        label: '#  Statistique mensuelles',
                        data: dataFactures,
                        borderWidth: 1,
                        backgroundColor: 'rgba(75,179,244,0.2)',
                        borderColor: 'rgb(95,165,244)'
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
              //  pour augmenter la graduation
                // options: {
                //     scales: {
                //         y: {
                //             beginAtZero: true,
                //             max: 100, // Fixe la valeur maximale à 100
                //             ticks: {
                //                 stepSize: 10 // Définir le pas des graduations
                //             }
                //         }
                //     }
                // }
            });

            // Deuxième graphique (Line Chart)
            const ctx2 = document.getElementById('myChart2').getContext('2d');
            new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: mois,
                    datasets: [{
                        label: 'Statistique  mensuelle',
                        data: dataFactures,
                        fill: false,
                        borderColor: 'rgb(237,157,142)',
                        tension: 0.1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}