<!-- .menu-header -->
<li class="menu-header"> MENU </li><br>
<!-- /.menu-header -->

<!-- .menu-item -->
{% if is_granted('ROLE_SUPER_ADMIN') %}
	<li class="menu-item">
		<a href="{{ path('app_home') }}" class="menu-link">
			<span class="menu-icon fa fa-solid fa-home"></span>
			<span class="menu-text">Accueil</span>
		</a>
	</li><br>
{% endif %}

{% if is_granted('ROLE_SOCIETY')  or is_granted('ROLE_SUPER_ADMIN') %}
	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="menu-icon fa-solid fa-hotel"></span>
			<span class="menu-text">Société</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'app_societe_new' ? 'has-active': '' }}">
				<a href="{{ path('app_societe_new') }}" class="menu-link">Créer</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'app_societe_index' ? 'has-active': '' }}">
				<a href="{{ path('app_societe_index') }}" class="menu-link">Liste</a>
			</li>
		</ul>
		<!-- /child menu -->
	</li><br>
{% endif %}

{% if is_granted('ROLE_ADMIN')  or is_granted('ROLE_SUPER_ADMIN') %}

	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="menu-icon fa fa-solid fa-user"></span>
			<span class="menu-text">Utilisateur</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'app_user_new' ? 'has-active': '' }}">
				<a href="{{ path('app_user_new') }}" class="menu-link">Créer</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'app_user_index' ? 'has-active': '' }}">
				<a href="{{ path('app_user_index') }}" class="menu-link">Liste</a>
			</li>
		</ul>
		<!-- /child menu -->

	</li><br>

{% endif %}

{% if is_granted('ROLE_CLIENT') or is_granted('ROLE_SUPER_ADMIN') %}
<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="menu-icon fa fa-solid fa-people-roof"></span>
		<span class="menu-text">clients</span>
	</a>
	<!-- child menu -->
	<ul class="menu">
		<li class="menu-item {{ app.request.get('_route') == 'app_user_new' ? 'has-active': '' }}">
			<a href="{{ path('app_clients_new') }}" class="menu-link">Créer</a>
		</li>
		<li class="menu-item {{ app.request.get('_route') == 'app_user_index' ? 'has-active': '' }}">
			<a href="{{ path('app_clients_index') }}" class="menu-link">Liste</a>
		</li>
	</ul>
	<!-- /child menu -->
</li><br>

{% endif %}




{% if is_granted('ROLE_CREATION')  or is_granted('ROLE_SUPER_ADMIN') %}
	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="menu-icon fa fa-solid fa-file-invoice-dollar"></span>
			<span class="menu-text">Facture Pro-forma</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'app_facture_pro_format_new' ? 'has-active': '' }}">
				<a href="{{ path('app_facture_pro_format_new') }}" class="menu-link">Créer</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'app_facture_pro_format_index' ? 'has-active': '' }}">
				<a href="{{ path('app_facture_pro_format_info') }}" class="menu-link">Liste</a>
			</li>
		</ul>

		<!-- /child menu -->
	</li><br>
{% endif %}

{% if is_granted('ROLE_FACTURE')  or is_granted('ROLE_SUPER_ADMIN') %}

	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="menu-icon fa fa-solid fa-file-invoice"></span>
			<span class="menu-text">Facture</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'app_facture_new' ? 'has-active': '' }}">
				<a href="{{ path('app_facture_new') }}" class="menu-link">Créer</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'app_facture_info' ? 'has-active': '' }}">
				<a href="{{ path('app_facture_info') }}" class="menu-link">Liste</a>
			</li>
		</ul>
		<!-- /child menu -->
	</li><br>
{% endif %}

{% if is_granted('ROLE_PRODUIT')  or is_granted('ROLE_SUPER_ADMIN') %}

	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="menu-icon fa fa-solid fa-box"></span>
			<span class="menu-text">Produit</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'app_produit_new' ? 'has-active': '' }}">
				<a href="{{ path('app_produit_new') }}" class="menu-link">Créer</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'app_produit_index' ? 'has-active': '' }}">
				<a href="{{ path('app_produit_index') }}" class="menu-link">Liste</a>
			</li>
		</ul>
		<!-- /child menu -->
	</li><br>
{% endif %}


{% if is_granted('ROLE_CONSULTER')  or is_granted('ROLE_SUPER_ADMIN') %}
	<li class="menu-item">
		<a href="{{ path('app_list_etat') }}" class="menu-link">
			<span class="menu-icon fa fa-solid fa-layer-group"></span>
			<span class="menu-text">Etat</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'depense_new' ? 'has-active': '' }}">
				<a href="" class="menu-link"></a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'depense_index' ? 'has-active': '' }}">
				<a href="" class="menu-link"></a>
			</li>
		</ul>
		<!-- /child menu -->
	</li><br>
{% endif %}

