<!-- .menu-header -->
<li class="menu-header"> MENU </li><br>
<!-- /.menu-header -->

<!-- .menu-item -->
{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_FACTURE') or is_granted('ROLE_VALIDED_FACTURE')%}
	<li class="menu-item">
		<a href="{{ path('app_home') }}" class="menu-link">
			<span class="menu-icon fa fa-solid fa-home"></span>
			<span class="menu-text">Accueil</span>
		</a>
	</li><br>
{% endif %}

{% if  is_granted('ROLE_SUPER_ADMIN') %}
	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="menu-icon fa-solid fa-hotel"></span>
			<span class="menu-text">Société</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
{#			<li class="menu-item {{ app.request.get('_route') == 'app_societe_new' ? 'has-active': '' }}">#}
{#				<a href="{{ path('app_societe_new') }}" class="menu-link">Créer</a>#}
{#			</li>#}
			<li class="menu-item {{ app.request.get('_route') == 'app_societe_index' ? 'has-active': '' }}">
				<a href="{{ path('app_societe_index') }}" class="menu-link">Liste</a>
			</li>
		</ul>
		<!-- /child menu -->
	</li><br>
{% endif %}

{% if is_granted('ROLE_ADMIN')  or is_granted('ROLE_SUPER_ADMIN') %}

	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="menu-icon fa fa-solid fa-user"></span>
			<span class="menu-text">utilisateur</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'app_user_new' ? 'has-active': '' }}">
				<a href="{{ path('app_user_new') }}" class="menu-link">Créer</a>
			</li>
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			<li class="menu-item {{ app.request.get('_route') == 'app_user_index' ? 'has-active': '' }}">
				<a href="{{ path('app_user_index') }}" class="menu-link">Liste</a>
			</li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
			<li class="menu-item {{ app.request.get('_route') == 'app_user_index_user' ? 'has-active': '' }}">
				<a href="{{ path('app_user_index_user') }}" class="menu-link">Liste</a>
			</li>
			{% endif %}
		</ul>
		<!-- /child menu -->
	</li><br>

{% endif %}

{% if  is_granted('ROLE_ADMIN') %}
<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="menu-icon fa fa-solid fa-people-roof"></span>
		<span class="menu-text">clients</span>
	</a>
	<!-- child menu -->
	<ul class="menu">
		<li class="menu-item {{ app.request.get('_route') == 'app_clients_new' ? 'has-active': '' }}">
			<a href="{{ path('app_clients_new') }}" class="menu-link">Créer</a>
		</li>
		<li class="menu-item {{ app.request.get('_route') == 'app_clients_index' ? 'has-active': '' }}">
			<a href="{{ path('app_clients_index') }}" class="menu-link">Liste</a>
		</li>
	</ul>
	<!-- /child menu -->
</li><br>

{% endif %}

{% if is_granted('ROLE_FACTURE_PRO') or is_granted('ROLE_VALIDED_FACTURE_PRO') %}
	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="menu-icon fa fa-solid fa-tag"></span>
			<span class="menu-text">Offre Financière</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'app_produit_new' ? 'has-active': '' }}">
				<a href="{{ path('app_offre_commerciale_new') }}" class="menu-link">Créer</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'app_produit_index' ? 'has-active': '' }}">
				<a href="{{ path('app_offre_commerciale_index') }}" class="menu-link">Liste</a>
			</li>
		</ul>
		<!-- /child menu -->
	</li>
{% endif %}



{% if is_granted('ROLE_FACTURE_PRO') or is_granted('ROLE_VALIDED_FACTURE_PRO') %}
	<li class="menu-item has-child">
    <a href="#" class="menu-link">
        <span class="menu-icon fa fa-solid fa-file-invoice-dollar"></span>
        <span class="menu-text">Facture Pro-forma</span>
    </a>
    <!-- child menu -->
    <ul class="menu">
        <li class="menu-item {{ app.request.get('_route') == 'app_facture_pro_format_new' ? 'has-active' : '' }}">
            <a href="{{ path('app_facture_pro_format_new') }}" class="menu-link">Créer</a>
        </li>
        <li class="menu-item has-child {{ app.request.get('_route') starts with 'app_facture_pro_format_index' ? 'has-active' : '' }}">
            <a href="#" class="menu-link">Liste</a>
            <ul class="menu">
                {% if is_granted('ROLE_VALIDED_FACTURE_PRO') %}
                    <li class="menu-item {{ app.request.get('_route') == 'app_facture_pro_format_index_pending' ? 'has-active' : '' }}">
                        <a href="{{ path('app_facture_pro_format_index_pending') }}" class="menu-link">pro-forma en attente</a>
                    </li>
                    <li class="menu-item {{ app.request.get('_route') == 'app_facture_pro_format_index_valider' ? 'has-active' : '' }}">
                        <a href="{{ path('app_facture_pro_format_index_valider') }}" class="menu-link">pro-forma validée</a>
                    </li>
                {% endif %}
                <li class="menu-item {{ app.request.get('_route') == 'app_facture_pro_format_info' ? 'has-active' : '' }}">
                    <a href="{{ path('app_facture_pro_format_info') }}" class="menu-link">Toute la liste</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /child menu -->
</li>

{% endif %}

{% if is_granted('ROLE_FACTURE') or is_granted('ROLE_VALIDED_FACTURE') %}

<li class="menu-item has-child">
    <a href="#" class="menu-link">
        <span class="menu-icon fa fa-solid fa-file-invoice"></span>
        <span class="menu-text">Facture</span>
    </a>
    <!-- child menu -->
    <ul class="menu">
        <li class="menu-item {{ app.request.get('_route') == 'app_facture_new' ? 'has-active' : '' }}">
            <a href="{{ path('app_facture_new') }}" class="menu-link">Créer</a>
        </li>
        <li class="menu-item has-child {{ app.request.get('_route') starts with 'app_facture_index' ? 'has-active' : '' }}">
            <a href="#" class="menu-link">Liste</a>
            <ul class="menu">
                {% if is_granted('ROLE_VALIDED_FACTURE') %}
                    <li class="menu-item {{ app.request.get('_route') == 'app_facture_index_pending' ? 'has-active' : '' }}">
                        <a href="{{ path('app_facture_index_pending') }}" class="menu-link"> facture en attente</a>
                    </li>
                    <li class="menu-item {{ app.request.get('_route') == 'app_facture_show_valider' ? 'has-active' : '' }}">
                        <a href="{{ path('app_facture_show_valider') }}" class="menu-link">facture validée</a>
                    </li>
                {% endif %}
                <li class="menu-item {{ app.request.get('_route') == 'app_facture_info' ? 'has-active' : '' }}">
                    <a href="{{ path('app_facture_info') }}" class="menu-link">Toute la liste</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /child menu -->
</li>

{% endif %}

{% if  is_granted('ROLE_ADMIN') %}

	<li class="menu-item has-child">
		<a href="#" class="menu-link">
			<span class="menu-icon fa fa-solid fa-box"></span>
			<span class="menu-text">Produit</span>
		</a>

		<!-- Child menu for Produit -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'app_produit_new' ? 'has-active' : '' }}">
				<a href="{{ path('app_produit_new') }}" class="menu-link">Créer</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'app_produit_index' ? 'has-active' : '' }}">
				<a href="{{ path('app_produit_index') }}" class="menu-link">Liste</a>
			</li>


			<li class="menu-item has-child {{ app.request.get('_route') starts with 'app_facture_pro_format_index' ? 'has-active' : '' }}">
				<a href="#" class="menu-link">Sous Détail Produit</a>

				<ul class="menu">
					<li class="menu-item {{ app.request.get('_route') == 'app_relation_detail_p_sous_detail_p_new' ? 'has-active' : '' }}">
						<a href="{{ path('app_relation_detail_p_sous_detail_p_new') }}" class="menu-link">Créer</a>
					</li>
					<li class="menu-item {{ app.request.get('_route') == 'app_relation_detail_p_sous_detail_p_index' ? 'has-active' : '' }}">
						<a href="{{ path('app_relation_detail_p_sous_detail_p_index') }}" class="menu-link">Liste</a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- /Child menu for Facture -->

	</li>

{% endif %}


{% if is_granted('ROLE_CONSULTER') %}
	<li class="menu-item has-child">
		<a href="" class="menu-link">
			<span class="menu-icon fa fa-solid fa-layer-group"></span>
			<span class="menu-text">Etat</span>
		</a>
		<!-- child menu -->
		<ul class="menu">
			<li class="menu-item {{ app.request.get('_route') == 'depense_new' ? 'has-active': '' }}">
				<a href="{{ path('app_list_etat') }}" class="menu-link">Facture</a>
			</li>
			<li class="menu-item {{ app.request.get('_route') == 'depense_index' ? 'has-active': '' }}">
				<a href="{{ path('app_etat_facture_pro') }}" class="menu-link">Facture pro-forma</a>
			</li>
		</ul>
		<!-- /child menu -->
	</li><br>
{% endif %}
<br>

{% if is_granted('ROLE_VALIDED_FACTURE') %}
<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="menu-icon fa fa-solid fa-box"></span>
		<span class="menu-text">Encaissement</span>
	</a>
	<!-- child menu -->
	<ul class="menu">
		<li class="menu-item {{ app.request.get('_route') == 'app_produit_new' ? 'has-active': '' }}">
			<a href="{{ path('app_encaissement_new') }}" class="menu-link">Créer</a>
		</li>
		<li class="menu-item {{ app.request.get('_route') == 'app_produit_index' ? 'has-active': '' }}">
			<a href="{{ path('app_encaissement_index') }}" class="menu-link">Liste</a>
		</li>
	</ul>
	<!-- /child menu -->
</li><br>
{% endif %}


{% if is_granted('ROLE_ADMIN') %}
<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="menu-icon fa fa-solid fa-dollar"></span>
		<span class="menu-text">Banque</span>
	</a>
	<!-- child menu -->
	<ul class="menu">
		<li class="menu-item has-child {{ app.request.get('_route') starts with 'app_facture_pro_format_index' ? 'has-active' : '' }}">
			<a href="#" class="menu-link">Banque </a>
			<ul class="menu">

				<li class="menu-item {{ app.request.get('_route') == 'app_facture_pro_format_index_pending' ? 'has-active' : '' }}">
					<a href="{{ path('app_banque_only_new') }}" class="menu-link">créer</a>
				</li>
				<li class="menu-item {{ app.request.get('_route') == 'app_facture_pro_format_index_valider' ? 'has-active' : '' }}">
					<a href="{{ path('app_banque_only_index') }}" class="menu-link">liste</a>
				</li>
			</ul>
		</li>

		<li class="menu-item has-child {{ app.request.get('_route') starts with 'app_facture_pro_format_index' ? 'has-active' : '' }}">
			<a href="#" class="menu-link">Ma Banque</a>
			<ul class="menu">

				<li class="menu-item {{ app.request.get('_route') == 'app_facture_pro_format_index_pending' ? 'has-active' : '' }}">
					<a href="{{ path('app_banque_client_new') }}" class="menu-link">créer</a>
				</li>
				<li class="menu-item {{ app.request.get('_route') == 'app_facture_pro_format_index_valider' ? 'has-active' : '' }}">
					<a href="{{ path('app_banque_client_index') }}" class="menu-link">liste</a>
				</li>
			</ul>
		</li>

	</ul>
	<!-- /child menu -->
</li>
{% endif %}





