{% extends '../../base.html.twig' %}

{% block title %}BanqueClient{% endblock %}

{% block body %}
    <h1>BanqueClient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ banque_client.id }}</td>
            </tr>
            <tr>
                <th>Uid</th>
                <td>{{ banque_client.uid }}</td>
            </tr>
            <tr>
                <th>NumeroCompteBanque</th>
                <td>{{ banque_client.numeroCompteBanque }}</td>
            </tr>
            <tr>
                <th>Rib</th>
                <td>{{ banque_client.rib }}</td>
            </tr>
            <tr>
                <th>CodeAgent</th>
                <td>{{ banque_client.codeAgent }}</td>
            </tr>
            <tr>
                <th>NumeroBic</th>
                <td>{{ banque_client.numeroBic }}</td>
            </tr>
            <tr>
                <th>Gestionnaire</th>
                <td>{{ banque_client.gestionnaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_banque_client_index') }}">back to list</a>

    <a href="{{ path('app_banque_client_edit', {'id': banque_client.id}) }}">edit</a>

    {{ include('Banque/banque_client/_delete_form.html.twig') }}
{% endblock %}
