{% form_theme form 'produit/_collection.html.twig' %}

<fieldset>
    <legend>Produit</legend>
    <hr>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="date_etablissement">date *</label>
                {{ form_widget(form.updateDate, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="objet">Type de Produit *</label>
                {{ form_widget(form.typeProduit, {'attr' : {'class': 'form-control select2'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="numero_fiche_besoin">Libelle *</label>
                {{ form_widget(form.libelle, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="objet">Prix du Produit *</label>
                {{ form_widget(form.prix, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>


        <div class="col-4">
            <div class="form-group">
                <label for="objet">TVA % *</label>
                {{ form_widget(form.tva, {'attr' : {'class': 'form-control','value': 18}}) }}
            </div>
        </div>
    </div>

</fieldset>

<fieldset>
    <input type="hidden" id="widget-counter-detail-produit" name=widget-counter-detail-produit"
           value="{{ form.detailProduits|length }}">
    <legend>Détails factures</legend>
    <div class="table-responsive">
        <table class="table table-sm bordered" id="table_detail_produit">
            <thead>
            <tr>
                <th>Libéllé</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{ form_widget(form.detailProduits) }}
            </tbody>
        </table>
    </div>
</fieldset>


