{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(form) }}#}



<fieldset>
    <legend>Produit</legend>
    <hr>

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="date_etablissement">date *</label>
                {{ form_widget(form.updateDate, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>


        <div class="col-4">
            <div class="form-group">
                <label for="objet">Prix du Produit *</label>
                {{ form_widget(form.typeProduit, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="numero_fiche_besoin">Libelle *</label>
                {{ form_widget(form.libelle, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="objet">Prix du Produit *</label>
                {{ form_widget(form.prix, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>


        <div class="col-4">
            <div class="form-group">
                <label for="objet">TVA % *</label>
                {{ form_widget(form.tva, {'attr' : {'class': 'form-control','value': 18}}) }}
            </div>
        </div>





    </div>





</fieldset>
