
{% extends 'base.html.twig' %}

{% block title %}Impression Facture | {% endblock %}

{% block stylesheets %}
<style>
    .container {
        max-width: 90%;
        margin: auto;
        padding: 20px;
        border: 1px solid white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        font-size: 16px;
        line-height: 24px;
        color: #555;
    }

    .container-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 80px;
    }

    h4 {
        height: 30px;
        width: 250px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    p {
        margin: 4px 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: right;
        width: 16.66%; /* Set equal width for all columns */
        font-size: 15px !important;
    }

    .no-border {
        border:none;
    }

    .highlight {

    }

    .section {
        flex: 1;
    }

    .section {
        margin-left: 20px;
    }
    .right-align {
        text-align: right;
    }
    .service
    {
        text-align:center; 
    }

    .total-row td {
        font-weight: bold;
    }


    @media print {
        .print-button {
            display: none !important;
        }
    }
</style>


{% endblock %}
{% block body %}
<div class="container">
    <div class="container-row">
        <div class="section">
            <h1>Facture</h1>
            <p><strong>OFFSET CONSULTING</strong></p>
            <p>Abidjan Cocody</p>
            <p>Tél : (+225) 25 22 01 59 71</p>
            <p>Cel : (+225) 07 78 63 63 06</p>
            <p>Email : contact@offset-consulting.com</p>
        </div>

        <div class="section">
            <table>
                <tr class="highlight"> 
                    <th colspan="2" style="text-align:center;">N° Facture #</th>
                    <th colspan="2" style="text-align:center;">Date</th>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">{{ facture.codeFacture }}</td>
                    <td colspan="2" style="text-align:center;">{{ facture.dateFacture |date("d/m/Y") }}</td>
                </tr>
                <tr class="highlight">
                    <th colspan="2" style="text-align:center;">ID client</th>
                    <th colspan="2" style="text-align:center;">Date d'expiration</th>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">{{facture.idFacture}}</td>
                    <td colspan="2" style="text-align:center;">{{ facture.dateExpirationFacture|date("d/m/Y")  }}</td>
                </tr>
            </table>
        </div>
    </div>
<br><br>
    <div class="container-row">
        <div class="section">
            <h4 class="highlight">Facture à</h4>
            <p>{{ facture.clientNom }}</p>
            <p>{{ facture.clientadresse }}</p>
            <p>{{ facture.clientcontact }}</p>
            <p>(001) 987-6543</p>
        </div>

        <div class="section1">
            <h4 class="highlight">Client </h4>
            <p>{{ facture.clientNom }}</p>
            <p>{{ facture.clientadresse }}</p>
            <p>{{ facture.clientcontact }}</p>
            <p>(001) 987-6543</p>
        </div>
    </div>
<br>
    <table>
            <tr class="highlight">
                <th class="service">Services</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Montant HT</th>
                <th>Montant TVA</th>
                <th>Montant TTC</th>
            </tr>
       {% set totalTTC = 0 %}
       {% for detail in facture.detailFactures %}
            
            <tr>
                <td class="service">{{ detail.produit }}</td>
                <td>{{detail.quantite}}</td>
                <td>{{ detail.prix | number_format(0, '.', ' ') }} </td>
                <td>{{ detail.montantHT | number_format(0, '.', ' ') }}</td>
                <td>{{ detail.montantTVA | number_format(0, '.', ' ') }}</td>
                <td class="service1">{{ detail.montantTTC | number_format(0, '.', ' ') }}</td>
            </tr>
            {% set totalTTC = totalTTC + detail.montantTTC %}
        {% endfor %}
        <tr class="total-row">
            <td colspan="5" class="no-border right-align">Net à payer :</td>
            <td>{{ totalTTC | number_format(0, '.', ' ') }} FCFA</td>
        </tr>
    </table>
    <br><br>

    <div style="text-align: right">
        <p><em>Service commercial</em></p>
        <br><br>

        {% if is_granted('ROLE_VALIDED_FACTURE') %}

        <button class="btn btn-info print-button ">
            <i class="fa-solid fa-back"></i> <a href="{{ path('app_facture_info') }}" style="color: white">retour</a>
        </button>&nbsp;&nbsp;

        <form method="post" action="{{ path('app_facture_valider', {'id': facture.idFacture}) }}" onsubmit="return confirm('Voulez-vous vraiment validé');" style="display: inline;">
            <input type="hidden" name="_token" value="{{ csrf_token('validé' ~ facture.idFacture) }}">
            <button type="submit"  class="btn btn-success text-dark print-button" ><i class="fa-solid fa-check"></i> &nbsp; valider</button>
        </form>&nbsp;&nbsp;

        {% endif %}

        {% if is_granted('ROLE_FACTURE') %}

        <form method="post" action="{{ path('app_facture_soumission', {'id': facture.idFacture}) }}" onsubmit="return confirm('Voulez-vous vraiment soumettre');" style="display: inline;">
            <input type="hidden" name="_token" value="{{ csrf_token('soumission' ~ facture.idFacture) }}">
            <button type="submit"  class="btn btn-warning text-dark print-button" > <i class="fa-solid fa-paper-plane"></i> &nbsp; soumettre</button>
        </form>&nbsp;&nbsp;

        {% endif %}

        {% if is_granted('ROLE_VALIDED_FACTURE') %}

        <form method="post" action="{{ path('app_facture_annulation', {'id': facture.idFacture}) }}" onsubmit="return confirm('Voulez-vous vraiment annulé');" style="display: inline;">
            <input type="hidden" name="_token" value="{{ csrf_token('annulation' ~ facture.idFacture) }}">
            <button type="submit"  class="btn btn-danger text-dark print-button" ><i class="fa-solid fa-xmark"></i>  &nbsp; annulé</button>
        </form>&nbsp;&nbsp;

        {% endif %}



        <button class="btn btn-secondary print-button " onclick="window.print()">
            <i class="fa-solid fa-download"></i> &nbsp;&nbsp;Imprimer
        </button>
    </div>
</div>

{% endblock %}
