{% block _facture_pro_format_detailFacture_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block  _facture_pro_format_detailFacture_widget %}
    <div class="col-md-12">
        <div class="form-group float-right">
            <button type="button"
                    id="add-collection-detail-facture-pro"
                    data-list-selector="#facture_pro_format_detailFacture"
                    class="btn btn-outline-primary">
                Nouvelle ligne
            </button>
        </div>
    </div>
    {{ form_widget(form) }}
{% endblock %}

{% block _facture_pro_format_detailFacture_entry_widget %}

<tr id="block_{{ id }}" data-id="{{ id }}" class="data-row">

     <td>
        {{ form_widget(form.produit, {'attr': {"class": 'form-control produit-selector', "data-id": id}}) }}
        {{ form_errors(form.produit) }}
    </td>
    <td>
        {{ form_widget(form.quantite, {'attr': {"class": 'form-control quantite text-right', "data-id": id}})  }}
        {{ form_errors(form.quantite) }}
    </td>
    <td>
        {{ form_widget(form.prix , {'attr': {"class": 'form-control prix text-right', "data-id": id}}) }}
        {{ form_errors(form.prix) }}
    </td>
    <td>
        {{ form_widget(form.remise, {'attr': {"class": 'form-control remise text-right', "data-id": id}}) }}
        {{ form_errors(form.remise) }}
    </td>
    <td>
        {{ form_widget(form.montantHT, {'attr': {"class": 'form-control montantHT text-right', "data-id": id}}) }}
        {{ form_errors(form.montantHT) }}
    </td>
    <td>
        {{ form_widget(form.montantTVA, {'attr': {"class": 'form-control montantTVA text-right', "data-id": id}}) }}
        {{ form_errors(form.montantTVA) }}
    </td>
    <td>
        {{ form_widget(form.montantTTC, {'attr': {"class": 'form-control montantTTC text-right', "data-id": id}}) }}
        {{ form_errors(form.montantTTC) }}
    </td>

    <td class="text-center">
        <button type="button"
                class="btn btn-sm btn-icon btn-secondary delete-detail-facture-pro"
                data-action="delete"
                data-target="#block_{{ id }}">
            <i class="oi oi-trash"></i>
        </button>
    </td>
</tr>



{% endblock %}
