{% form_theme form 'facture_pro_format/_collection.html.twig' %}

<fieldset>
    <legend>Identification de la facture pro-forma</legend>
    <div class="row">

        <div class="col-4">
            <div class="form-group">
                <label for="date_etablissement">Date *</label>
                {{ form_widget(form.date, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="objet">Réference de la facture pro-format *</label>
                {{ form_widget(form.reference , {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="numero_fiche_besoin">Numéro de la Facture Pro-Forma *</label>
                {{ form_widget(form.numeroFacturePro, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-4">
            <div class="form-group">
                <label for="objet">Client *</label>
                {{ form_widget(form.clients, {'attr' : {'class': 'form-control select2', 'onchange': 'updateRemise(this.value)'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="objet">Mode de Payement *</label>
                {{ form_widget(form.modePayement, {'attr' : {'class': 'form-control select2'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="objet">Date d'écheance *</label>
                {{ form_widget(form.dateEcheance, {'attr' : {'class': 'form-control '}}) }}
            </div>
        </div>

    </div>


    <legend>Offre commerciale</legend>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="objet">Objet  *</label>
                {{ form_widget(form.description, {'attr' : {'class': 'form-control '}}) }}
            </div>
        </div>

        <div class="col-2">
            <div class="form-group">
                <label for="objet">Début  *</label>
                {{ form_widget(form.periode, {'attr' : {'class': 'form-control '}}) }}
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="objet">Fin  *</label>
                {{ form_widget(form.periode_2, {'attr' : {'class': 'form-control '}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="objet">Remise  *</label>
                {{ form_widget(form.remise, {'attr' : {'class': 'form-control '}}) }}
            </div>
        </div>

    </div>





</fieldset>

<fieldset>

    <input type="hidden" id="widget-counter-detail-facture-pro" name="widget-counter-detail-facture-pro"
           value="{{ form.detailFacture|length }}">
    <legend>Detail facture</legend>
    <div class="table-responsive">
        <table class="table table-sm bordered" id="table_detail_facture_pro">
            <thead>
            <tr>
                <th>Service (s)</th>
                <th>Quanité</th>
                <th>prix (Fcfa)</th>
                <th>Montant Brut (%)</th>
                <th>Remise (%) </th>
                <th>Montant HT </th>
                <th>Montant TVA </th>
                <th>Montant TTC </th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {{ form_widget(form.detailFacture) }}
            </tbody>
        </table>
    </div>
</fieldset>







