{% extends 'base.html.twig' %}

{% block title %}Etat des Factures {% endblock %}



{% block body %}

    <div class="row">
    <div class="col-12">
        <form method="get" action="{{ path('app_recherche_date') }}" class="formDate ">
            <div class="card">
                <div class="card-header bg-soft-custom">
                    Période
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-form-label col-md-1 text-right">Date début <span
                                    class="text-danger">*</span></label>
                        <div class="col-md-2">
                            <input type="date" name="dateDebut" class="form-control" required="required">
                        </div>
                        <label for="" class="col-form-label col-md-1 text-right">Date de fin <span
                                    class="text-danger">*</span></label>
                        <div class="col-md-2">
                            <input type="date"  name="dateFin" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-content">
                            <button type="submit" class="btn btn-primary float-right">Recherche</button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    </div>






    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-header bg-soft-custom "style="background:#21244e; color:white;">
                <i class="fa-solid fa-list" style="font-size:30px;"></i> &nbsp;Etat des Factures
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover bordered table-sm basic-datatable">
                        <thead class="thead-light">

                        <tr>
                            {#                            <th class="text-center">ID</th>#}
                            <th class="text-center">ID</th>
                            <th class="text-center">Date </th>
                            <th class="text-center">Type de Société</th>
                            <th class="text-center">Reference</th>
                            <th class="text-center">Nom</th>
{#                            <th class="text-center">Services</th>#}
{#                            <th class="text-center">quantite</th>#}
                            <th class="text-center">Prix</th>
                            <th class="text-center">Remise</th>
                            <th class="text-center">Montant HT</th>
                            <th class="text-center">montant TVA</th>
                            <th class="text-center">Montant TTC</th>
                            <th class="text-center">Contact</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set displayed_ids = [] %}
                        {% for facture in factures %}
                            {% if facture.idFacture not in displayed_ids %}
                            {% set displayed_ids = displayed_ids|merge([facture.idFacture]) %}
                            <tr>

                                <th class="text-center">{{ facture.idFacture }}</th>
                                <td class="text-center">{{ facture.dateFacture|date("d/m/Y")}}</td>
                                <td class="text-center">{{ facture.clientTypeSociete }}</td>
                                <td class="text-center">{{ facture.reference }}</td>
                                <td class="text-center">{{ facture.clientNom }}</td>
{#                                <td class="text-center">{{ facture.produit }}</td>#}
{#                                <td class="text-center">{{ facture.quantite }}</td>#}
                                <td class="text-right">{{ facture.prix | number_format(0, '.', ' ') }}</td>
                                <td class="text-right">{{ facture.remise | number_format(0, '.', ' ')}}</td>
                                <td class="text-right">{{ facture.montantHT | number_format(0, '.', ' ') }}</td>
                                <td class="text-right">{{ facture.montantTVA | number_format(0, '.', ' ') }}</td>
                                <td class="text-right">{{ facture.montantTTC | number_format(0, '.', ' ')  }}</td>
                                <td class="text-center">{{ facture.clientcontact }}</td>
                                <td class="text-center"><a href="{{ path('app_impression', {'id': facture.idFacture}) }}" style="color:black;"><i class="fa-solid fa-file-pen"></i></a></td>

                            </tr>
                            {% endif   %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>



{% endblock %}