{% form_theme form 'facture/_collection.html.twig' %}

<fieldset>
    <legend>Identification de la facture</legend>
    <div class="row">

        <div class="col-4">
            <div class="form-group">
                <label for="date_etablissement">Date *</label>
                {{ form_widget(form.date, {'attr' : {'class': 'form-control dateID'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="objet">Réference de la facture *</label>
                {{ form_widget(form.reference , {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="numero_fiche_besoin">Numéro de la Facture *</label>
                {{ form_widget(form.codeFacture, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-4">
            <div class="form-group">
                <label for="objet">Société *</label>
                {{ form_widget(form.IdClient, {'attr' : {'class': 'form-control idclient select2', 'onchange': 'updateRemise(this.value)'}}) }}
            </div>
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="objet">Mode de Payement *</label>
                {{ form_widget(form.modePayement,{'attr' : {'class': 'form-control select2'}}) }}
            </div>
        </div>
 
        <div class="col-4">
            <div class="form-group">
                <label for="objet">Date d'échéance *</label>
                {{ form_widget(form.dateExpiration, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

    </div>



<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="objet">Remise *</label>
            {{ form_widget(form.remise, {'attr' : {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <label for="objet">objet *</label>
            {{ form_widget(form.description, {'attr' : {'class': 'form-control'}}) }}
        </div>
    </div>
</div>



</fieldset>

<fieldset>
    <input type="hidden" id="widget-counter-detail-facture" name="widget-counter-detail-facture"
           value="{{ form.detailFactures|length }}">
    <legend>Détails factures</legend>
    <div class="table-responsive">
        <table class="table table-sm bordered" id="table_detail_facture">
            <thead>
            <tr>
                <th>Période</th>
                <th>Service (s)</th>
                <th>Quanité</th>
                <th>prix (fcfa)</th>
                <th>Montant Brut (%)</th>
                <th>Remise (%)</th>
                <th>Montant HT (fcfa)</th>
                <th>Montant TVA (fcfa)</th>
                <th>Montant TTC (fcfa)</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
               {{ form_widget(form.detailFactures) }}
            </tbody>
        </table>
    </div>
</fieldset>







