{% extends 'base.html.twig' %}

{% block title %}Facture | clients {% endblock %}

{% block body %}

    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-header bg-soft-custom "style="background:#21244e; color:white;">
                <i class="fa-solid fa-list" style="font-size:30px;"></i> &nbsp; Lise des Factures
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover bordered table-sm basic-datatable">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Date </th>
                            <th class="text-center">Numéro Client</th>
{#                            <th class="text-center">Type de Société</th>#}
                            <th class="text-center">Client</th>
{#                            <th class="text-center">Prix</th>#}
{#                            <th class="text-center">Remise</th>#}
                            <th class="text-center">Montant HT</th>
                            <th class="text-center">montant TVA</th>
                            <th class="text-center">Montant TTC</th>
                            <th class="text-center">Date d'expiration </th>
                            <th class="text-center">Contact</th>
                            <th class="text-center">Statut</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set displayed_ids = [] %}
                        {% for facture in factures %}
                            {% if facture.idFacture not in displayed_ids %}
                                {% set displayed_ids = displayed_ids|merge([facture.idFacture]) %}
                                <tr>
                                    <th class="text-center">{{ facture.idFacture }}</th>
                                    <td class="text-center">{{ facture.dateFacture|date("d/m/Y")}}</td>
                                    <td class="text-left">{{ facture.codeFacture }}</td>
                                    <td class="text-left">{{ facture.clientNom }}</td>
                                    <td class="text-right">{{ facture.totalHT | number_format(0, '.', ' ') }}</td>
                                    <td class="text-right">{{ facture.totalTVA | number_format(0, '.', ' ') }}</td>
                                    <td class="text-right">{{ facture.totalTTC| number_format(0, '.', ' ') }}</td>
                                    <td class="text-center">{{ facture.dateExpirationFacture |date("d/m/y") }}</td>
                                    <td class="text-center">{{ facture.clientcontact }}</td>
                                    <td class="text-center">
                                        {% if facture.statut == 'brouillon' %}
                                            <span class="badge badge-dark">{{ facture.statut }}</span>
                                        {% elseif facture.statut == 'en attente' %}
                                            <span class="badge badge-info">{{ facture.statut }}</span>
                                        {% elseif facture.statut == 'validé' %}
                                            <span class="badge badge-success">{{ facture.statut }}</span>
                                        {% elseif facture.statut == 'annulé' %}
                                            <span class="badge badge-warning">{{ facture.statut }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if facture.statut != 'annulé' %}
                                             {% if facture.statut != 'en attente' %}
                                                <a  class="btn btn-sm btn-icon btn-secondary" href="{{ path('app_facture_edit', {'id': facture.idFacture}) }}" style="color:black;"><i class="fa-solid fa-pen"></i></a>
                                             {% endif %}
                                            <a  class="btn btn-sm btn-icon btn-secondary" href="{{ path('app_table_facture', {'id': facture.idFacture}) }}" style="color:black;"><i class="fa-solid fa-eye"></i></a>
                                        {% endif %}
                                        <form  class="btn btn-sm btn-icon btn-secondary" method="post" action="{{ path('app_facture_delete', {'id': facture.idFacture}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer?');" style="display: inline;">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture.idFacture) }}">
                                            <button type="submit" style="border:none; background:none"> <i class="fa-solid fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <!-- Footer content -->
            </div>
        </div>
    </div>

{% endblock %}
