{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
{#    <h1>User index</h1>#}

{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Email</th>#}
{#                <th>Roles</th>#}
{#                <th>Password</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for user in users %}#}
{#            <tr>#}
{#                <td>{{ user.id }}</td>#}
{#                <td>{{ user.email }}</td>#}
{#                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}
{#                <td>{{ user.password }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>#}
{#                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="5">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('app_user_new') }}">Create new</a>#}





    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-header bg-soft-custom "style="background:#21244e; color:white;">
                <i class="fa-solid fa-list" style="font-size:30px;"></i> &nbsp;  Liste des utilisateurs
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover bordered table-sm basic-datatable">
                        <thead class="thead-light">

                        <tr>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Prenom</th>
                            <th class="text-center">Rôles</th>
                            <th class="text-center">Nom d'utilisateur</th>
                            <th class="text-center">Adresse email</th>
{#                            <th class="text-center">Société</th>#}
                            <th class="text-center">Statut</th>
                            <th class="text-center">contact</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td class="text-center">{{user.nom }}</td>
                                <td class="text-center">{{user.prenom }}</td>
                                <td class="text-center">
                                    {% if user.roles is iterable %}
                                        {% for role in user.roles %}
                                            {% if role == 'ROLE_SUPER_ADMIN' %}
                                                SUPER ADMINISTRATEUR
                                            {% elseif role == 'ROLE_ADMIN' %}
                                                ADMINISTRATION
                                            {% elseif role == 'ROLE_CONSULTER' %}
                                                CONSULTER
                                            {% elseif role == 'ROLE_FACTURE_PRO' %}
                                                FACTURE PRO-FORMA
                                            {% elseif role == 'ROLEVALIDED_FACTURE_PRO' %}
                                                VALIDER FACTURE PRO-FORMA
                                            {% elseif role == 'ROLE_FACTURE' %}
                                                FACTURE
                                            {% elseif role == 'ROLE_VALIDED_FACTURE' %}
                                                VALIDER FACTURE
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {{ user.roles }}
                                    {% endif %}
                                </td>

                                <td class="text-center">{{user.nomUtilisateur }}</td>
                                <td class="text-center">{{user.email }}</td>
{#                                <td class="text-center">#}
{#                                    {% if user.relation is not null %}#}
{#                                        {{ user.relation.RaisonSocial }}#}
{#                                    {% else %}#}
{#                                        Aucune société associée#}
{#                                    {% endif %}#}
{#                                </td>#}
                                <td class="text-center">
                                    {% if user.status == 1 %}
                                        Actif
                                    {% else %}
                                        Inactif
                                    {% endif %}
                                </td>

                                <td class="text-center">{{user.contact }}</td>



                                <td class="text-center">
                                    <a href="{{ path('app_user_show', {'id': user.id}) }}" style="color:black;"><i class="fa-solid fa-eye"></i></a>
                                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" style="color:black;"><i class="fa-solid fa-pen"></i></i></a>

                                    <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer?');" style="display: inline;">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                        <button type="submit" style="border:none; background:none"> <i class="fa-solid fa-trash"></i></button>
                                    </form>


                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-footer-content">
                    <a href="{{path('app_user_new')}}" class="btn btn-primary float-right ml-2">
                        Nouveau</a>
                    <a href="{{path('app_home')}}" class="btn btn-success float-right ml-3">
                        <i class="oi oi-home"></i>
                        Accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
